/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 27, 2020, 9:13:31 PM
    Author     : micha
*/
body {
    background-color: #F0F2F5 !important;
}

.bg-its {
    background: #013880 !important;
}

.text-its {
    color: #F6F7F9 !important;
}

.button-its {
    background: #0067ac !important;
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
}

.button-its:hover {
    background: #013880 !important;
}

.button-rounded {
    border-radius: .5em;
}

.nav-link {
    transition: 0.2s ease-in-out;
    -webkit-transition: 0.2s ease-in-out;
}

.card-shadow {
    -webkit-box-shadow: 8px 8px 54px -17px rgba(163,163,163,0.87);
    -moz-box-shadow: 8px 8px 54px -17px rgba(163,163,163,0.87);
    box-shadow: 8px 8px 54px -17px rgba(163,163,163,0.87);
}

textarea {
    resize: none;
}

.card-custom {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05), 0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    border-radius: .5rem;
    transition: all .2s;
    min-height: 10vh;
}

.vertical-line {
    border-right: .1rem solid #AAAAAA;
    height: 6.5vh;
}

.btn-primary {
    border-radius: .5rem !important;
    background: #013880 !important;
}

.btn-secondary {
    border-radius: .5rem !important;
    background: #F1C40F !important;
    border: 1px solid #F1C40F;
    color: #013880;
}

h1.head-landing {
    font-size: 4rem;
    font-weight: normal;
}

h2.head-landing {
    font-size: 2.5rem;
    font-weight: normal;
}

.head-landing span {
    font-weight: 700;
    display: inline-block;
    border-bottom: .3rem solid #F1C40F;
    padding-bottom: .4rem;
}

.btn-landing {
    text-align: center;
    color: #ffffff;
    background-color: #013880;
    border-radius: .5rem;
    text-decoration: none;
}

.course-landing{
    display: inline-block;
    border-bottom: .3rem solid #F1C40F;
    padding-bottom: .4rem;
}

.line-course {
    border: .25rem solid #F1C40F;
    border-radius: .5rem;
    width: 5rem;
}
